
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg,rgb(10, 10, 175),rgb(15, 1, 1));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #dae149;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

input[type="text"] {
    padding: 8px;
    margin: 10px;
    width: 300px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    width: 320px;
    margin-left: 45px;
}

button:hover {
    background-color: #45a049;
}

p#result {
    margin-top: 20px;
    font-size: 18px;
    color: orangered;
}




